html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Kyobo Handwriting";
  src: url("/src/assets/fonts/KyoboHandwriting2020pdy.ttf") format("truetype");
}

@font-face {
  font-family: "Jeju Myeongjo";
  src: url("/fonts/JejuMyeongjo.ttf") format("truetype");
}

@font-face {
  font-family: "Ssurround";
  src: url("/fonts/Cafe24Ssurround.ttf") format("truetype");
}

@font-face {
  font-family: "SsurroundAir";
  src: url("/fonts/Cafe24SsurroundAir.ttf") format("truetype");
}
